<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}
            <a href="{{ path('login') }}">Login</a>
            <a href="{{ path('registration') }}">registrieren</a><br>
            <a href="{{ path('formfirma') }}">Firma eintragen</a>
            <a href="{{ path('formcontact') }}">Ansprechpartner eintragen</a><br>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
