{% extends 'base.html.twig' %}

{% block body %}
    <form name="createuser" action="./userAnlegen.php" method="post">
		<label for="searchbar">Name:</label>
		<input name="searchbar" type="text" size="50" onkeyup="checkvalue('value', this.value);"><br>
    </form>
{% endblock %}

{% block javascripts %}
    src="{{ asset('js/searchtool.js') }}"
{% endblock %}

{% block stylesheets %}
{% endblock %}
