{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('login') }}">Login</a>
    <a href="{{ path('registration') }}">registrieren</a><br>
    <a href="{{ path('formfirma') }}">Firma eintragen</a>
    <a href="{{ path('formcontact') }}">Ansprechpartner eintragen</a><br>
{% endblock %}

{% block stylesheets %}
{% endblock %}
