{% extends 'base.html.twig' %}

{% block body %}
	<h1>Der Ansprechpartner: {{ name }} wurde erfolgreich in die Datenbank &uuml;bertragen!</h1>
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}