{% extends 'base.html.twig' %}

{% block body %}
	<h1>Die Firma: {{ name }} wurde erfolgreich in die Datenbank &uuml;bertragen!</h1>
    
    <br>Kontaktdaten <a href="{{ path('formcontact') }}">hinzuf체gen</a>
    <br>Sp채ter hinzuf체gen und zur체ck zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}