
{% block title %}
<h1>Praktikumsfirmenverwaltung</h1>
<h2>Bitte loggen Sie sich ein!</h2>
{% endblock %}
{% block content %}
	<div style="width:480px;">
    {% block fos_user_content %}{% endblock %}
	</div>
{% endblock %}